<!-- Modal 5 ====== Make New APPOINTMENT ========  --->
<div class="modal1 mfp-hide" id="modalPopUp">
    <div class="block divcenter" style="background-color: #000;opacity: 0.75;max-width: 350px; height: auto; border-radius: 10px;">
        <div class="center" style="padding: 15px 15px 15px 15px;">
            <!---CONTENT ----->
            <h3 style="color:#F78C04;">Reserve Slot</h3>

            <form class="widget-subscribe-form2" style="max-width: 350px;">
                <label style="color:#fff;">Appointment Date</label><br>
                <input type="text" id="Remark" name="Remark" ng-model="modalGroup.zModal.Remark"><br>
               

                <button class="button button-rounded button-border button-light noleftmargin" type="submit" style="vertical-align:middle"><a ng-click="modalGroup.modalAnswer('OK')">OK</a></button>
            </form>



            <!---CONTENT END ----->
        </div>
    </div>
</div>
<!-- end of Modal 5 ==============  --->