<!-- Modal 4 ====== Cancel Appointment ========  --->
<div class="modal1 mfp-hide" id="modalPopUp">
    <div class="block divcenter" style="background-color: #000;opacity: 0.5; max-width: 350px; height: auto; border-radius: 10px;">
        <div class="center" style="padding: 15px 15px 15px 15px;">
            <!---CONTENT ----->
            <h4 style="color:#F78C04;">Cancel Appointment?</h4>
            <form class="widget-subscribe-form2" action="include/subscribe.php" role="form" method="post" style="max-width: 350px;">
                <button class="button button-rounded button-border button-light noleftmargin" type="submit" style="vertical-align:middle;" ">Confirm</button>

            </form>
            <!---CONTENT END ----->
        </div>
    </div>
</div>
<!-- end of Modal 4 ==============  --->