<div id="modalPopUp" class="modal-legend bg-none mfp-with-anim mfp-hide">
    <div class="modal-dialog schedule-grid-daily">
        <div class="modal-body pad wd-legend">
            <div class="modal-content">
                <div class="modal-header noborder modal-hd-sty">
                    <!------Close Button ---->
                    <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
                    <h4 class="modal-title center" id="myModalLabel">Legend</h4>
                </div>

                <div class="modal-body legend-body center">
                    <!------Content Start ---->

                    <div class="row">


                        <table cellspacing="0" cellpadding="0" width="100%" align="left" border="0">
                            <tbody>

                                <tr><td colspan="2" class="hd-tt">Status</td></tr>

                                <tr>
                                    <td width="30%" align="left" valign="left"><div class="box bg-trans"></div></td>
                                    <td width="70%" align="left" valign="left"><div class="txt-bk txt-bold">Confirm</div></td>
                                </tr>

                                <tr> <td colspan="2"><div class="hr-line"></div></td></tr>

                                <tr>
                                    <td width="30%" align="left" valign="left"><div class="box bg-pink"></div></td>
                                    <td width="70%" align="left" valign="left"><div class="txt-bk txt-bold">Check IN</div></td>
                                </tr>

                                <tr> <td colspan="2"><div class="hr-line"></div></td></tr>

                                <tr>
                                    <td width="30%" align="left" valign="left"><div class="box bg-orange"></div></td>
                                    <td width="70%" align="left" valign="left"><div class="txt-bk txt-bold">Assign</div></td>
                                </tr>

                                <tr> <td colspan="2"><div class="hr-line"></div></td></tr>

                                <tr>
                                    <td width="30%" align="left" valign="left"><div class="box bg-grey"></div></td>
                                    <td width="70%" align="left" valign="left"><div class="txt-bk txt-bold">No Show</div></td>
                                </tr>

                                <tr> <td colspan="2"><div class="hr-line"></div></td></tr>

                                <tr>
                                    <td width="30%" align="left" valign="left"><div class="box bg-red"></div></td>
                                    <td width="70%" align="left" valign="left"><div class="txt-bk txt-bold">Cancel</div></td>
                                </tr>

                                <tr> <td colspan="2"><div class="hr-line"></div></td></tr>

                                <tr>
                                    <td width="30%" align="left" valign="left"><div class="box bg-green"></div></td>
                                    <td width="70%" align="left" valign="left"><div class="txt-bk txt-bold">Waiting List</div></td>
                                </tr>

                                <!--<tr> <td colspan="2"><div class="hr-line"></div></td></tr>-->

                                <!--<tr>
                                    <td width="30%" align="left" valign="left"><div class="box cust-male"></div></td>
                                    <td width="70%" align="left" valign="left"><div class="txt-bk txt-bold">Male Customer</div></td>
                                </tr>-->

                                <tr> <td colspan="2"><div class="hr-line"></div></td></tr>

                                <tr><td colspan="2" class="hd-tt pad-h">Additional Infos</td></tr>

                                <!--<tr>
                                    <td width="30%" align="left" valign="left"><div class="box cust-scan"></div></td>
                                    <td width="70%" align="left" valign="left"><div class="txt-bk txt-bold">Scanning</div></td>
                                </tr>-->

                                <tr>
                                    <td width="30%" align="left" valign="left"><div class="box-b cust-male box-h"></div></td>
                                    <td width="70%" align="left" valign="left"><div class="txt-bk txt-bold">Male Customer</div></td>
                                </tr>

                                <tr> <td colspan="2"><div class="hr-line"></div></td></tr>

                                <tr>
                                    <td width="30%" align="left" valign="left"><div class="box-b cust-scan box-h"></div></td>
                                    <td width="70%" align="left" valign="left"><div class="txt-bk txt-bold">Scanning</div></td>
                                </tr>

                            </tbody>
                        </table>

                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
                     
