<div id="modalPopUp" class="popup-basic  mfp-with-anim mfp-hide">

    <div class="center" style="padding: 15px 15px 15px 15px;">
        <!---CONTENT ----->
        <h5 ng-show="modalGroup.showcustomerId" color:#fff;"><a href="#myModal2" ng-click="modalGroup.modalAnswer('edit')" data-lightbox="inline">{{modalGroup.customerId}} -{{modalGroup.customerName}} </a></h5>
        <hr ng-show="modalGroup.showcustomerId" style="color:#fff; opacity: 0.5;">
        <!--<h5 style="color:#fff;"><img src="/Templates/images/icon_reserve.png" width="16" height="16" alt="" /><a href="#myModal3" ng-click="modalGroup.modalAnswer('reserve')"  data-lightbox="inline">&nbsp;Reserve Timeslot</a></h5>
        <hr style="color:#fff; opacity: 0.5;">-->
        <h5 style="color:#fff;"><img src="/Templates/images/icon_newAppt.png" width="16" height="16" alt="" /><a href="#myModal5" ng-click="modalGroup.modalAnswer('new')" data-lightbox="inline">&nbsp;New Appointment</a></h5>
        <!---CONTENT END ----->
    </div>
</div>



