<div id="modalPopUp" class="popup-basic bg-none mfp-with-anim mfp-hide">

    <!-- -------------- Main Wrapper -------------- -->
    <!--<section id="content_wrapper">-->

        <!-- -------------- Content -------------- -->
        <section id="content" class="animated fadeIn">

            <!-- -------------- Login Form -------------- -->
            <div class="allcp-form theme-warning mw500" style="margin-top: 10%;" id="login">
                <div class="bg-alert text-center mb20 br3 pv15">
                    <!--<img src="/Content/assets/img/logo_login_form.png" class="img-responsive"
                           alt="Logo" />-->
                </div>
                <div class="panel panel-alert">

                    <div ng-repeat="alert in alerts" ng-class="['alert-' + alert.type, 'alert alert-micro light alert-dismissable']">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="closeAlert($index)">×</button>
                        <i class="fa fa-cubes pr10 hidden"></i>
                        {{alert.msg}}
                    </div>


                    <form role="form" name="F1" id="form-login" novalidate="novalidate">
                        <div class="panel-body pn pb10 pt25 mtn">
                            <p>
                                Please fill in your username below. Once completed, you will receive an email with
                                instructions to reset your password.
                            </p>

                            <div class="section mn">
                                <div class="smart-widget sm-right smr-140">
                                    <label for="username" ng-class="[(F1.username.$invalid && F1.username.$dirty) ? 'state-error' : null, 'field prepend-icon']">
                                        <input type="text" name="username" id="username" class="gui-input" maxlength="20"
                                               placeholder="Your Username" required ng-model="loginData.userName">
                                        <label for="username" class="field-icon text-alert">
                                            <i class="fa fa-user"></i>
                                        </label>
                                    </label>
                                    <label for="username" class="button" ng-click="forgetPassword(loginData)">{{btnResetName}}</label>
                                    <em ng-if="F1.username.$error.required" for="username" class="state-error">Enter username</em>

                                </div>
                                <!-- -------------- /section -------------- -->
                                <div class="section">
                                    <div class="pull-left pt5">
                                        <h6>
                                            <a href="/" style="cursor:pointer">Go back to login screen</a>  <!--ng-click="goForgetPasswordPage()"-->
                                        </h6>
                                    </div>

                                </div>
                                <!-- -------------- /section -------------- -->
                                <!-- -------------- /section -------------- -->
                                <!-- -------------- /section -------------- -->

                            </div>
                        </div>
                        <!-- -------------- /Form -------------- -->
                    </form>
                </div>
                <!-- -------------- /Panel -------------- -->
            </div>
            <!-- -------------- /Spec Form -------------- -->

        </section>
        <!-- -------------- /Content -------------- -->


</div>