<style>
    .content-header b,
    .allcp-form .panel.heading-border:before,
    .allcp-form .panel .heading-border:before {
        transition: all 0.7s ease;
    }

    #ecommission_content {
        padding-left: 0;
        padding-right: 0;
        height: 500px;
    }

        #ecommission_content .panel {
            padding: 15px;
        }
</style>

<header id="topbar" class="alt">
    <div class="topbar-left">
        <ol class="breadcrumb">
            <li class="breadcrumb-icon">
                <a href="#">
                    <span class="fa fa-home"></span>
                </a>
            </li>
            <li class="breadcrumb-active">
                <a href="#">{{group.formHeader}}</a>
            </li>

        </ol>
    </div>
    <div class="topbar-right">

    </div>
</header>

<section id="ecommission_content">
    <div id="panel">

        <div class="rtcomm-body">


        </div>

    </div>
</section>


