  
        <!-- -------------- Topbar -------------- -->
        <!--<header id="topbar" class="ph10">
            <div class="topbar-left">
                <ul class="nav nav-list nav-list-topbar pull-left">
                    <li class="active">
                        <a href="#">Active Menu Link</a>
                    </li>
                    <li>
                        <a href="#">Menu Link</a>
                    </li>
                    <li>
                        <a href="#">Menu Link</a>
                    </li>
                    <li>
                        <a href="#">Menu Link</a>
                    </li>

                </ul>
            </div>
            <div class="topbar-right hidden-xs hidden-sm">
                <a href="#" class="btn btn-default btn-sm light fw600 ml10 mt5">
                    <span class="fa fa-anchor pr5"></span> Button Link
                </a>
                <a href="#" class="btn btn-default btn-sm light fw600 ml10 mt5">
                    <span class="fa fa-bullseye pr5"></span> Button Link
                </a>
                <a href="#" class="btn btn-default btn-sm light fw600 ml10 mt5">
                    <span class="fa fa-external-link pr5"></span> Button Link
                </a>
            </div>
        </header>-->
        <!-- -------------- /Topbar -------------- -->
        <!-- -------------- Content -------------- -->
        <!--<section id="content" class="animated fadeIn">-->
            

            <!-- -------------- Topbar -------------- -->
            <header id="topbar" class="alt">
                <div class="topbar-left">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-icon">
                            <a href="#">
                                <span class="fa fa-home"></span>
                            </a>
                        </li>
                        <li class="breadcrumb-active">
                            <a href="#">{{group.formHeader}}</a>
                        </li>
                        <!--<li class="breadcrumb-link">
                            <a href="#">Menu</a>
                        </li>
                        <li class="breadcrumb-current-item">{{group.formHeader}}</li>-->
                    </ol>
                </div>
                <div class="topbar-right">
                    <!--<div class="ib topbar-dropdown">
                        <label for="topbar-multiple" class="control-label">Reporting Period</label>
                        <div class="btn-group">
                            <button type="button" class="multiselect dropdown-toggle btn btn-default btn-bordered ph15" data-toggle="dropdown" title="Last 60 Days" aria-expanded="false">Last 60 Days <b class="caret"></b></button>
                            <ul class="multiselect-container dropdown-menu pull-right">
                                <li class="multiselect-item multiselect-group"><label>Filter By:</label></li>
                                <li><a href="javascript:void(0);"><label class="radio"><input type="radio" value="1-1"> Last 30 Days</label></a></li>
                                <li class="active"><a href="javascript:void(0);"><label class="radio"><input type="radio" value="1-2"> Last 60 Days</label></a></li>
                                <li><a href="javascript:void(0);"><label class="radio"><input type="radio" value="1-3"> Last Year</label></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="ml15 ib va-m" id="sidebar_right_toggle">
                        <div class="navbar-btn btn-group btn-group-number mv0">
                            <button class="btn btn-sm btn-default btn-bordered prn pln">
                                <i class="fa fa-bar-chart fs22 text-default"></i>
                            </button>
                            <button class="btn btn-primary btn-sm btn-bordered hidden-xs"> 3</button>
                        </div>
                    </div>-->
                </div>
            </header>
            <!-- -------------- /Topbar -------------- -->
            <!-- -------------- Topbar -------------- -->
            <!--<header id="topbar" class="ph10">
                <div class="topbar-left">
                    <ul class="nav nav-list nav-list-topbar pull-left">
                        <li class="active">
                            <a href="#">Active Menu Link</a>
                        </li>
                        <li>
                            <a href="#">Menu Link</a>
                        </li>
                        <li>
                            <a href="#">Menu Link</a>
                        </li>
                        <li>
                            <a href="#">Menu Link</a>
                        </li>

                    </ul>
                </div>
                <div class="topbar-right hidden-xs hidden-sm">
                    <a href="#" class="btn btn-default btn-sm light fw600 ml10 mt5">
                        <span class="fa fa-anchor pr5"></span> Button Link
                    </a>
                    <a href="#" class="btn btn-default btn-sm light fw600 ml10 mt5">
                        <span class="fa fa-bullseye pr5"></span> Button Link
                    </a>
                    <a href="#" class="btn btn-default btn-sm light fw600 ml10 mt5">
                        <span class="fa fa-external-link pr5"></span> Button Link
                    </a>
                </div>
            </header>-->
            <!-- -------------- /Topbar -------------- -->
            <!-- -------------- Content -------------- -->
            <section id="content" class="animated fadeIn">
                <div class="allcp-form theme-primary">
                    <div class="panel">
                        <!--<div class="panel-heading">
                            <div class="panel-title">
                                {{group.formHeader}}
                            </div>
                        </div>-->
                        <!--<div class="panel-body">-->
                        <form id="zFrm" role="form" name="Frm" novalidate ng-class="[group.formChecked == true ? 'form-checked' : null]">
                            <div ng-repeat="field in group.fields" style="display:inline"> <!--ng-form="F1" style="display:inline">-->
                                <z-input field='field' zform='F1' zmodel='group.zModel' index='{{$index + 1}}' group="group"></z-input> <!--tabindex='{{$index + 1}}'></z-input>-->

                            </div>
                        </form>

                        <!--
                            /*
                              {
                                "Name": "UserGrid",
                                "Value": "group.gridOptions",
                                "Type": "zgrid",
                                "DivClass": "col-md-12 col-lg-12",
                                "ResourceURL": "group.gridResourceURL",
                                "ColumnFields": "group.gridColumnFields",
                                "ExternalPagination": false,
                                "AllowGridDataExport": true,
                                "EnableSaveGridState": true,
                                "AllowColumnResize": true,
                                "AllowExport": true,
                                "AllowSaveState": true,
                                "AppendDivClearFix": true
                              },

                              {
    "Name": "ZMFB",
    "Value": "generalListButtons",
    "Type": "zmfb",
    "mfb_position": "br",
    "mfb_effect": "slidein",
    "mfb_active_icon": "glyphicon glyphicon-remove",
    "mfb_resting_icon": "glyphicon glyphicon-plus",
    "mfb_mouseEnter": "group.mfbHovered()",
    "mfb_mouseLeave": "group.mfbHovered()",
    "mfb_toggleMethod": "hover",
    "mfb_menuState": "group.mfbMenuState",
    "mfb_mainAction": "group.mfbMainAction()"
  }

                           */
                        
                      -->

                        <!-- Parent Support Tickets -->
                        <div style="overflow: hidden;display:block;padding:0;margin:0!important" ng-repeat="ticket in group.zSuppTicketsData | orderBy:'AddDate':true" class="panel-group accordion" id="accordion">
                            <div class="panel" style="margin-bottom: 0px!important;">
                                <div class="panel-heading">
                                    <a aria-expanded="false" class="accordion-toggle accordion-icon link-unstyled collapsed" data-toggle="collapse" data-parent="#accordion" ng-click="group.accSuppTicketClcik(ticket.Id)" href="#SuppTicket{{ticket.Id}}">
                                        
                                        <table border="1" style="padding:1px;width:100%">
                                        <tr>
                                            <th style="border-left:1px;text-align:right;">Created at</th> <td width="1%">:</td><td style="border-right:1px;text-align:left">{{ticket.AddDate | date:'medium'}}</td>
                                            <th style="text-align:right;">Created By</th><td width="1%">:</td> <td style="border-right:1px;text-align:left">{{ticket.AddBy}}</td>
                                            <th style="text-align:right;">Current Status</th><td width="1%">:</td> <td style="border-right:1px;text-align:left">{{ticket.TicketDetailsFlows[ticket.TicketDetailsFlows.length-1].Status == 0 ? "Created" : ticket.TicketDetailsFlows[ticket.TicketDetailsFlows.length-1].Status == 1 ? "Assigned" : ticket.TicketDetailsFlows[ticket.TicketDetailsFlows.length-1].Status == 2 ? "Open": ticket.TicketDetailsFlows[ticket.TicketDetailsFlows.length-1].Status == 3 ? "Hold": ticket.TicketDetailsFlows[ticket.TicketDetailsFlows.length-1].Status == 4 ? "Resolved" :ticket.Status}}</td>
                                            <th style="text-align:right;">Assigned To</th><td width="1%">:</td> <td style="border-right:1px;text-align:left">{{ticket.TicketDetailsFlows[ticket.TicketDetailsFlows.length-1].AssignedTo}}</td>
                                        </tr>
                                        <tr>
                                            <th colspan=" 1" style="text-align:right;border-left:1px;">Description</th><td width="1%">:</td><td style="border-right:1px;text-align:left" colspan="10"><span style="font-style:italic;font-size:11px;"> {{ticket.Description}}</span></td>
                                        </tr>
                                        </table>
                                    <span class="text-dark"></span>
</a>
                                </div>
                                <div aria-expanded="false" id="SuppTicket{{ticket.Id}}" class="panel-collapse collapse" style="height: 0px;">
                                    <div class="panel-body mt45" style="margin-top:-14.5px!important;">

                                        <!--
         <span ng-bind-html="item.Notes"></span>
        -->
                                        <!-- Parent Support Tickets Details [view after expand upon the click] -->
                                        <div style="overflow: hidden;display:block;padding:0;margin:0!important" ng-repeat="item in ticket.TicketDetailsFlows | orderBy:'AddDate':true" class="panel-group accordion" id="accordionDetails">
                                            <div class="panel" style="margin-bottom: 0px!important;">
                                                <div class="panel-heading">
                                                    <a aria-expanded="false" class="accordion-toggle accordion-icon link-unstyled collapsed" data-toggle="collapse" data-parent="#accordionDetails" href="#accord{{item.Id}}">
                                                        Updated at : {{item.AddDate | date:'medium'}} | Updated By : {{item.AddBy}} | Status : {{item.Status == 0 ? "Created" : item.Status == 1 ? "Assigned" : item.Status == 2 ? "Open": item.Status == 3 ? "Hold": item.Status == 4 ? "Resolved" :item.Status}}
                                                        <span class="text-dark"></span>
                                                    </a>
                                                </div>
                                                <div aria-expanded="false" id="accord{{item.Id}}" class="panel-collapse collapse" style="height: 0px;">
                                                    <div class="panel-body mt45">
                                                        <span ng-bind-html="item.Notes"></span>
                                                        <br />

                                                        <div ng-repeat="item in group.zData.Files | filter: { TicketDetailsId: item.Id }" class="col-md-3">
                                                            <a href="javascript:void(0)" ng-click="group.viewImageAttached(item.Id)"><img ng-src="/api/getImageAttached/?id={{item.Id}}&size=sm" alt="eSupport Attachment"></a>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Parent Support Tickets Add New details Details [view after expand upon the click] -->
                                        <div style="display:block;padding:0;margin:0!important" class="panel-group accordion" id="accordionAddNewRecord{{ticket.Id}}">
                                            <div class="panel" style="margin-bottom: 0px!important;">
                                                <div class="panel-heading">
                                                    <a aria-expanded="true" class="accordion-toggle accordion-icon link-unstyled collapsed" data-toggle="collapse" data-parent="#accordionAddNewRecord{{ticket.Id}}" href="#accord_AddComment{{ticket.Id}}">
                                                        Add New Comment
                                                        <span class="text-dark"></span>
                                                    </a>
                                                </div>
                                                <div aria-expanded="true" id="accord_AddComment{{ticket.Id}}" class="panel-collapse collapse" style="height: 0px;">
                                                    <div class="panel-body" style="margin-top:-14.5px !important;">

                                                        <!-- Add Comment Controls -->
                                                        <div text-angular ng-model="group.zTckDetailModel.Notes" name="demo-editor{{ticket.Id}}" ta-text-editor-class="border-around" ta-html-editor-class="border-around"></div> <br />

                                                        <select class="gui-input form-control ng-pristine ng-untouched ng-valid ng-valid-required ng-valid-parse" id="AssignedTo" name="n" ng-model="group.zModel.AssignedToVal" ng-options="item.UserName for item in group.zData.DeptUsers track by item.Id" ng-change="group.AssignedToOnChange()" ng-required="false &amp;&amp; true" convert-to-number="false"></select>

                                                        <select class="gui-input form-control ng-pristine ng-untouched ng-valid ng-valid-required ng-valid-parse" id="Status" name="n" ng-model="group.zModel.StatusVal" ng-options="item.StatusText for item in group.zData.Status track by item.Id" ng-change="group.StatusOnChange()" ng-required="false &amp;&amp; true" convert-to-number="true"></select>

                                                        <a class="btn btn-primary" ng-click="group.newTktDetailModel()" ng-disabled=""><span class="glyphicon glyphicon-save"></span> Add Comment</a>
                                                        <a class="btn btn-primary" ng-click="group.newTckDetailsFileUpload()" ng-disabled=""><span class="glyphicon glyphicon-upload"></span> Add Images</a>



                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <br />

                                        <div ng-repeat="item in group.zData.Files | filter: { TicketDetailsId: ticket.Id }" class="col-md-3">
                                            <a href="javascript:void(0)" ng-click="group.viewImageAttached(item.Id)"><img ng-src="/api/getImageAttached/?id={{item.Id}}&size=sm" alt="eSupport Attachment"></a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>




                        <!--<div pre-loader isloading="group.isLoading" class="overLay"></div>-->
                        {{Frm.$dirty}}

                        <!-- {{group.zModel}} -->

                        <br />
                        Jerson Customized View
                        <!--</div>-->
                    </div>
                </div>
            </section>
            <!-- -------------- /Content -------------- -->
            <!--<div class="panel panel-primary">
                <h3 class="panel-heading">{{group.formHeader}}</h3>
                <div class="panel-body">
                    <form role="form" name="Frm" novalidate>
                        <div ng-repeat="field in group.fields" ng-form="F1" style="display:inline">
                            <z-input field='field' zform='F1' zmodel='group.zModel' index='{{$index + 1}}'></z-input>
                        </div>
                    </form>
                    <div pre-loader isloading="group.isLoading" class="overLay"></div>

                </div>
            </div>
            <hr />
            <footer>
                <p>&copy; 2016 - AMES UNITED - iBUDGET Application</p>
            </footer>-->
            
        <!--</section>-->
        <!-- -------------- /Content -------------- -->

    
